.b98 {
  font-size: 12px;
  line-height: 1;
  background-color: #232634;
  color: #c6d0f5;
}

.top_level {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background-clip: text;
}

.container {
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  padding: 12px;
}
