.b98 {
    font-family: "Cousine";
    font-size: 12px;
}

.b98 hr {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
}

#bf-top-level {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

#bf-container {
    display: flex;
    justify-content: left;
    flex-flow: wrap;
}

#bf-controls {
    padding-bottom: 12px;
}

#bf-i-row {
    width: 4em;
}

#bf-i-col {
    width: 4em;
}

#bf-fungespace {
    display: flex;
    justify-content: center;
    overflow: visible;
    flex-flow: wrap;
    font-size: 0;
}

#bf-fungespace pre {
    overflow: visible;
    padding: 1px 0 0 1px;
    background-color: #eff1f5;
    border: none;
    border-radius: unset;
    margin: 0;
}

#bf-fungespace div {
    text-align: left;
}

#bf-fungespace div div {
    display: inline-flex;
    overflow: hidden;
    min-width: 10px;
    max-width: 10px;
    min-height: 16px;
    max-height: 16px;
}

#bf-fungespace div div span {
    display: inline-flex;
    justify-content: center;
    position: relative;
    top: -7px;
    min-width: 9px;
    max-width: 9px;
    min-height: 19px;
    max-height: 19px;
    margin: 3px 0 1px 0;
    color: #4c4f69;
    background-color: #ccd0da;
    font-size: 14px;
}

#bf-fungespace div div span.cursor {
    background-color: #dc8a78;
    color: #dce0e8;
}

#bf-stack {
    display: flex;
    justify-content: right;
    flex-flow: wrap;
    width: 100%;
    background-color: #eff1f5;
    overflow: hidden;
}

#bf-stack div {
    display: inline-flex;
    padding: 0;
    margin: 1px 1px 1px 1px;
    width: 100%;
    background-color: #ccd0da;
}

#bf-stack div div {
    display: inline-flex;
    justify-content: flex-end;
    flex-flow: wrap-reverse;
    min-height: 1em;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}

#bf-stack div div span {
    display: inline-flex;
    justify-content: center;
    color: #4c4f69;
    padding-left: 1em;
    overflow: hidden;
}