.b98 {
  font-size: 12px;
  line-height: 1;
  background-color: #232634;
  color: #c6d0f5;
}

.top_level {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background-clip: text;
}

.container {
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  padding: 12px;
}

.base {
  display: flex;
  justify-content: center;
  overflow: visible;
  flex-flow: wrap;
  font-size: 0;
}

.base2 {
  overflow: visible;
  padding: 1px 0px 1px 1px;
  border: none;
  border-radius: unset;
  margin: 0;
  background-color: #232634;
  font-size: 12px;
}

.row {
  text-align: left;
}

.hr {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: none;
}

.cell {
  display: inline-flex;
  overflow: hidden;
  min-width: 10px;
  max-width: 10px;
  min-height: 16px;
  max-height: 16px;
}

.cell span {
  display: flow-root;
  justify-content: center;
  position: relative;
  top: -4px;
  min-width: 9px;
  max-width: 9px;
  min-height: 19px;
  max-height: 19px;
  margin: 5px 0 1px 0;
  font-size: 14px;
  color: #c6d0f5;
  background-color: #414559;
}

.cell span.cursor {
  background-color: #dc8a78;
  color: #dce0e8;
}
