---
---

@import
    "minima/skins/{{ site.minima.skin | default: 'classic' }}",
    "minima/initialize";

.site-title::before {
    content: url('{{ site.baseurl }}/assets/img/favicon.png');
    display: inline-block;
    position: relative;
    width: 32px;
    left: -3px;
    top: 7px;
}