.b98 {
  font-family: var(--font-cousine);
  font-size: 12px;
  line-height: 1;
  background-color: #232634;
  color: #c6d0f5;

  --b98-bg-color: #232634;
  --b98-border-color: #b5bfe2;
  --b98-text-color: #c6d0f5;
  --b98-text-bg-color: #414559;
  --b98-text-select-color: #f2d5cf;
}

.top_level {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background-clip: text;
}

.container {
  display: flex;
  justify-content: left;
  flex-flow: wrap;
  padding: 12px;
}

.bf_header {
  padding-top: 12px;
}

.base {
  display: flex;
  justify-content: center;
  overflow: visible;
  flex-flow: wrap;
  font-size: 0;
}

.base2 {
  overflow: visible;
  padding: 1px 0px 1px 1px;
  border: none;
  border-radius: unset;
  margin: 0;
  background-color: #232634;
  font-size: 12px;
}

.bf_controls {
  padding-bottom: 12px;
  font-size: 0;
}

.btn {
  border: 1px solid;
  border-color: var(--b98-border-color);
  background-color: var(--b98-bg-color);
  color: var(--b98-text-color);
  padding: 1px 3px 1px 3px;
  /* font-size: 12px; */
  margin: 0;
  user-select: none;
  text-decoration: none;
  outline: none;
  width: min-content;
  height: min-content;
  display: inline-flex;
}

.btn:hover {
  color: var(--b98-text-color);
  background-color: var(--b98-text-bg-color);
  text-decoration: none;
}

.row {
  text-align: left;
}

.hr {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: none;
}

.cell {
  display: inline-flex;
  overflow: hidden;
  min-width: 10px;
  max-width: 10px;
  min-height: 16px;
  max-height: 16px;
}

.cell span {
  display: flow-root;
  justify-content: center;
  position: relative;
  top: -4px;
  min-width: 9px;
  max-width: 9px;
  min-height: 19px;
  max-height: 19px;
  margin: 5px 0 1px 0;
  font-size: 14px;
  color: #c6d0f5;
  background-color: #414559;
}

.cell span.cursor {
  background-color: #dc8a78;
  color: #dce0e8;
}

.bf_stack {
  display: flex;
  justify-content: right;
  flex-flow: wrap;
  width: 100%;
  background-color: var(--b98-bg-color);
  overflow: hidden;
}

.bf_stack div {
  display: inline-flex;
  padding: 0;
  margin: 1px 1px 1px 1px;
  width: 100%;
  background-color: var(--b98-text-bg-color);
}

.bf_stack div div {
  display: flex;
  width: 0;
  flex: auto;
  justify-content: flex-end;
  min-height: 1em;
  white-space: pre;
  overflow: hidden;
  padding: 0;
  margin: 0 0 1px;
}

.bf_stack div div span {
  justify-content: center;
  color: var(--b98-text-color);
  padding-left: 0.5em;
}

.bf_output_container {
  display: flex;
  /* flex: 1 1 auto; */
  flex-flow: wrap;
  width: 100%;
  background-color: var(--b98-bg-color);
  margin: 1px 1px 1px 1px;
  /* overflow: scroll; */
}

.bf_output {
  display: flow-root;
  width: 0;
  flex: auto;
  height: 100%;
  background-color: var(--b98-text-bg-color);
  color: var(--b98-text-color);
  border: none;
  outline: none;
  box-shadow: none;
  flex-wrap: wrap;
  /* resize: vertical; */
  /*overflow: scroll;*/
  white-space: pre;
  overflow-x: auto;
  margin-bottom: 1px;
}
